<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sliding Carousel</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #slider effect="fade" (ionSlideWillChange)="onSlideChanged()" pager="true" paginationType="bullets">
    <ion-slide *ngFor="let slide of allSlides" class="swiper-no-swiping" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')', 'background-size': 'cover'}">
      <img src="{{slide.userImg}}">
      <h2>{{slide.title}}</h2>
    </ion-slide>
    <div *ngIf="currentIndex > 0" class="swiper-button-prev swiper-button-white" (click)="previousSlide()"></div>
    <div *ngIf="currentIndex < allSlides.length-1" class="swiper-button-next swiper-button-white" (click)="nextSlide()"></div>
  </ion-slides>
</ion-content>
